.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogsItems  {
  padding: 10px;
}

.dialogsItems .active {
  color: gold;
  display: flex;
  margin: 10px;
}

.dialog {
  
}


.messageS {
  margin: 25px;
  border-radius: 7px;
  background-color: salmon;
  padding: 15px;
}

.message {

}

.NavLinkName {
  margin: auto;
}

img {
  border-radius: 30px;
  width: 50px;
}
