.nav {
  grid-area: n;
  background-color: rgb(119, 201, 201);
  padding: 15px;
}

.item {
  color: rgb(254, 254, 254);
}
.item a{
  text-decoration: none;
}
.active{
  color: rgb(175, 187, 0);
}

.friendBlock {
  padding-top: 50px;
}
